$separator-border: 1px solid #eee;

$margin-xs: 3px;
$margin-small: 7px;
$margin-medium: 17px;
$margin-big: 29px;

.course_tags {
  * {margin-right: $margin-xs;}
}

.course_list {
  border-bottom: $separator-border;
  margin-bottom: $margin-big;

  .course_list_item,
  .learning_course_list_item {
    border-top: $separator-border;
    margin-bottom: $margin-big;
    min-height: 325px;

    div {margin-top: $margin-small;}
    .desc {margin-top: $margin-medium}
  }

  .learning_course_list_item {
    min-height: 350px;

    .progress-bar {
      margin-top: 0px;
    }
  }
}

.course_content {
  border-right: $separator-border;
}

.user_progress_stats {
  margin-top: $margin-medium;
}

.course_item_list_item {
  font-size: 110%;
  margin-bottom: $margin-medium;

  .course_item_list_item_checkbox a {
    font-size: 24px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    position: relative;
    top: -2px;
  }

  .author_options {
    margin-left: $margin-small;
    cursor: pointer;
    float: right;
  }
}